@media screen and (max-width: 1235px){
    header nav {
        ul:not(.subMenu) {
            > li {
                margin-right: 10px;

                > a {
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 1110px){
    .innerBanner,
    .featuredBanner,
    .topicPageSection,
    .authorPageSection,
    .error {
        padding-top: 60px;
    }

    .emailBlock {
        padding-top: calc(6% + 60px);
    }

    .blockGridWrapper {
        .block {
            h3 {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 950px){
    .floatingCards {
        .container {
            display: block;
            padding-bottom: 6%;
        }

        .leftText {
            width: 100%;
        }

        .cardsGroup {
            width: 100%;
            top: auto;
            margin-top: 40px;
        }
    }

    .imgLeft,
    .imgRight {
        .container {
            display: block;
        }

        img {
            display: block;
            width: 300px;
            max-width: 100%;
            margin: 0 auto 40px;
        }
    }

    .vidHolder {
        width: 450px;
        max-width: 100%;
        height: 250px;
        margin: 0 auto 40px;

        a {
            height: 250px;
        }
    }

    .imgFullHolder {
        position: relative;
        width: 100%;
        height: 200px;
        margin-bottom: 40px;
    }
    
    .contentWrapper {
        width: 100%;
    }

    .titleLeft {
        .container {
            display: block;
        }

        .sectionTitle,
        .contentWrapper {
            width: 100%;
        }
    }

    .industrySlider {
        .slick-arrow,
        .slick-arrow:hover,
        .slick-arrow:focus {
            background: white;
            color: $red;
            box-shadow: 0 8px 30px rgba(0,0,0,0.4);

            &.slick-prev {
                left: 1%;
            }

            &.slick-next {
                right: 1%;
            }
        }
    }

    .solutionsGrid {
        .solBlock {
            width: 50%;
        }
    }

    .prodType {
        img {
            display: none;
        }

        .typeContent {
            width: 100%;
        }
    }

    .prodDetails {
        display: block;

        img,
        .prodFeatures,
        .prodBenefits {
            width: 100%;
        }
    }

    .prodFeatures,
    .prodBenefits {
        padding: 20px 0;
    }

    .prodTempWrapper {
        > .container {
            flex-direction: column-reverse;
        }
    }

    .prodSideNav,
    .prodModules {
        width: 100%;
    }

    .prodSideNav {
        margin-top: 40px;
    }

    .siteMap .container>ul>li {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
    }

    .lpBanner,
    .innerBanner {
        h1 {
            font-size: 30px;
        }
    }

    .banner {
        text-align: center;
    }

    .floatingCards {
        .cardsGroup {
            display: block;
        }

        .card {
            width: 100%;

            &:last-child {
                margin-top: 40px;
            }

            .img {
                height: 150px;
            }
        }
    }

    .badgesBanner img {
        height: 60px;
    }
    
    .splitHeader {
        display: block;
        text-align: center;

        .sectionTitle:after {
            right: 0;
            margin: auto;
        }
    }
    
    .featuredProduct {
        width: 47%;
        margin: 20px 0;
    }

    .stat {
        width: 42%;
        margin: 20px 0;
    }

    .testimonial {
        p.quote {
            font-size: 18px;
        }
    }

    .testimonialSlider {
        .slick-arrow,
        .slick-arrow:hover,
        .slick-arrow:focus {
            background: white;
            color: $red;
            box-shadow: 0 8px 30px rgba(0,0,0,0.4);

            &.slick-prev {
                left: -15px;
            }

            &.slick-next {
                right: -15px;
            }
        }
    }

    .postItem {
        width: 100%;
        margin-bottom: 40px;
    }

    .postImg {
        height: 150px;
    }

    footer {
        .container > div {
            width: 100%;
            margin-bottom: 4%;
        }
    }

    .twoColText {
        .colWrapper {
            column-count: 1;
        }
    }

    .blockGrid {
        .headingWrapper {
            display: block;

            h2,
            .headingDesc {
                width: 100%;
            }
        }
    }

    .blockGridWrapper {
        display: block;

        .block {
            width: 100%;
            margin: 10px 0;
        }
    }

    .formLeft,
    .formRight {
        .container {
            display: block;
        }

        .contentWrapper,
        .formWrapper {
            width: 100%;
        }

        .formWrapper {
            margin-top: 40px;
        }
    }

    .solutionsGrid {
        .solImg {
            width: 100%;
            height: 100px;
        }

        h3 {
            font-size: 16px;
        }
    }

    /* Landing Page */
	.lpContentSection {
		.container {
			flex-direction: column;
			align-items: center;
		}
	}

	.readMoreLP {
		display: inline-block;
	}

	.lpContent {
		width: 100%;
		display: none;
	}

	.lpForm {
		width: 100%;
		max-width: 500px;
    }

    /* Blog */
    .listingPageContent {
        .container {
            display: block;
        }
    }

    .listingPostGroup {
        .postItem {
            width: 100%;
        }
    }

    .blog-section,
    .sidebar {
        width: 100%;
    }

    .sidebar {
        margin-top: 40px;
    }

    .featuredBanner {
        .container {
            display: block;
        }

        .featuredImg {
            display: block;
            width: 100%;
            max-width: 400px;
            margin: 0 auto 30px;
        }

        .bannerWrapper {
            width: 100%;
        }
    }

    .full-blog-section {
        > .container {
            padding: 6%;
        }
    }

    .about-author-sec {
        display: block;

        .authorDesc {
            width: 100%;
            margin-left: 0;
            margin-top: 20px;
        }
    }

    .subscribeBanner {
        form {
            display: block;
        }

        .hs_email,
        .hs_notification_frequency {
            width: 100%;
            margin: 10px 0 !important;
        }
    }

    .siteMap .container>ul>li {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 400px) {
    .hs-fieldtype-select {    
        &:after {
            right: 25px;
        }
    }

    .sidebar {
        .hs-fieldtype-select {    
            &:after {
                right: 15px;
            }
        }
    }
}