@media screen and (max-width: 1235px){
    header nav {
        ul:not(.subMenu) {
            > li {
                margin-right: 10px;

                > a {
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 1110px){
    .innerBanner {
        padding-top: 50px;
    }

    .blockGridWrapper {
        .block {
            h3 {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 950px){
    .floatingCards {
        .container {
            display: block;
            padding-bottom: 6%;
        }

        .leftText {
            width: 100%;
        }

        .cardsGroup {
            width: 100%;
            top: auto;
            margin-top: 40px;
        }
    }

    .imgLeft,
    .imgRight {
        .container {
            display: block;
        }

        img {
            display: block;
            width: 300px;
            max-width: 100%;
            margin: 0 auto 40px;
        }
    }

    .imgFullHolder {
        position: relative;
        width: 100%;
        height: 200px;
        margin-bottom: 40px;
    }
    
    .contentWrapper {
        width: 100%;
    }

    .industrySlider {
        .slick-arrow,
        .slick-arrow:hover,
        .slick-arrow:focus {
            background: white;
            color: $red;
            box-shadow: 0 8px 30px rgba(0,0,0,0.4);

            &.slick-prev {
                left: 1%;
            }

            &.slick-next {
                right: 1%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;
    }

    .banner {
        text-align: center;
    }

    .floatingCards {
        .cardsGroup {
            display: block;
        }

        .card {
            width: 100%;

            &:last-child {
                margin-top: 40px;
            }

            .img {
                height: 150px;
            }
        }
    }

    .badgesBanner img {
        height: 60px;
    }
    
    .splitHeader {
        display: block;
        text-align: center;

        .sectionTitle:after {
            right: 0;
            margin: auto;
        }
    }
    
    .featuredProduct {
        width: 47%;
        margin: 20px 0;
    }

    .stat {
        width: 42%;
        margin: 20px 0;
    }

    .testimonial {
        p.quote {
            font-size: 18px;
        }
    }

    .testimonialSlider {
        .slick-arrow,
        .slick-arrow:hover,
        .slick-arrow:focus {
            background: white;
            color: $red;
            box-shadow: 0 8px 30px rgba(0,0,0,0.4);

            &.slick-prev {
                left: -15px;
            }

            &.slick-next {
                right: -15px;
            }
        }
    }

    .postItem {
        width: 100%;
        margin-bottom: 40px;
    }

    .postImg {
        height: 150px;
    }

    footer {
        .container > div {
            width: 100%;
            margin-bottom: 4%;
        }
    }

    .twoColText {
        .colWrapper {
            column-count: 1;
        }
    }

    .blockGrid {
        .headingWrapper {
            display: block;

            h2,
            .headingDesc {
                width: 100%;
            }
        }
    }

    .blockGridWrapper {
        display: block;

        .block {
            width: 100%;
            margin: 10px 0;
        }
    }
}